body {
  margin: 0;
  background: #ddd;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  left: 0;
  font-family: 'Merriweather', serif;
}

#app {
  float: center;
  width: 60vw;
  min-width: 700px;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background: white;
  border: solid 1px #ccc;
}

.article-list {
  list-style-type: none;
  padding: 2em;
}

.article-card {
  box-shadow: 0px 4px 8px #00000022;
  border: 2px solid #ccc;
  margin: 0.5em;
}

.article-card-expand {
  padding: 1em;
  margin: 0;
  text-decoration: none;
  display: block;
  color: black;
  background: white;
}

.article-card-expand:hover {
  background: #eee;
}

.article-card-abstract {
  padding: 1em;
  background: #eee;
}

.article-card-buttons {
  text-align: center;
}

.article-card-button {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  background: #88b;
  font-size: 0.8em;
  transition: background 0.2s ease;
  box-shadow: 0px 4px 12px #00000033;
  color: white;
}

.article-card-button:hover {
  background: #aad;
}

.article-card-button:active {
  background: white;
  color: #aad;
}

.article-card-animate {
  opacity: 0.6;
  z-index: -1;
  animation: mark-complete 0.5s ease-out;
}

.arxiv-category-label {
  background: #88f;
  display: inline-block;
  float: right;
  font-family: 'Inconsolata', monospace;
  color: white;
  padding: 0 0.4em 2px 0.4em;
  margin: 0 -1em 0 0;
  font-size: 0.8em;
  overflow: auto;
}

.arxiv-date-label {
  color: #181;
  font-size: 0.9em;
}

.lib-shelves {
  text-align: center;
  margin: 0;
  padding: 0;
}

.lib-list {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  width: 45%;
  margin: 1em;
  padding: -2em;
}

.lib-list ul {
  background: #ccc;
  padding: 0.3em;
  box-shadow: inset 0px 4px 12px #00000033;
}

.lib-list-label {
  font-size: 1.4em;
}

.lib-list .lib-list-length {
  display: inline-block;
  opacity: 0.0;
  font-size: 80%;
  transition: opacity 0.2s ease;
}

.lib-list:hover .lib-list-length {
  opacity: 0.6;
}

.page-bar {
  text-align: center;
  margin: 0.3em;
}

.page-bar-button {
  font-weight: bold;
  display: inline-block;
  color: #888;
  font-size: 1em;
  margin: 0.2em;
  padding: 1em;
}

.page-bar input[type="text"] {
  background: white;
  color: black;
  font-size: 1em;
  box-shadow: 0px 4px 4px #00000033;
  border:none;
  width: 3em;
}

.page-bar input[type="submit"] {
  background: #a00;
  color: white;
  border: none;
  box-shadow: 0px 4px 4px #00000033;
  font-family: 'Merriweather', serif;
  margin: 0.2em;
}

.page-bar input[type="submit"]:hover {
  background: #c33;
}

.page-bar-button:hover {
  color: #ccc;
}

.nav-bar {
  display: inline-block;
  background: #a00;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  font-size: 1em;
  z-index: 1000;
}

.nav-links {
  display: inline-block;
  text-align: center;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.nav-link {
  float: right;
  text-align: center;
}

.nav-link a {
  padding: 1em;
  display: block;
  text-decoration: none;
  color: white;
}

.nav-link a:hover {
  background: #800;
}

#nav-link-home {
  float: left;
  transition: 0.4s;
}

#nav-link-home a:hover {
  background: white;
  color: #800;
}

.nav-link form {
  display: inline-block;
  height: auto;
  padding: 0;
  margin: 0;
}

.nav-link input {
  top: 0;
  display: inline-block;
  padding: 0.2em;
  margin: 0.8em;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  overflow: hidden;
}

#search-form {
  display: inline-block;
  text-align: center;
  float: none;
}

.search-text {
  border: none;
  background: #ffffff66;
  color: black;
}

.search button {
  background: #00000000;
  border: none;
  margin: -1em;
}

.search-text:focus {
  background: #ffffffcc;
  transition: background 0.2s ease;
}
.search-icon {
  display: block;
  vertical-align: middle;
  font-size: 1em;
  margin: auto;
  padding: 0;
}

.loadingFrame {
  text-align: center;
}

.loadingCircle {
  display: inline-block;
  animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  border-radius: 50%;
  border: 16px solid #aaaaaaaa;
  border-left: 16px solid #aa0000aa;
  width: 128px;
  height: 128px;
  margin: 10em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% {-moz-transform: rotate(360deg); }
}

@keyframes mark-complete {
  0% { opacity: 1; }
  100% { opacity: 0.6; }
}
